{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": true,
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "printWidth": 70,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
} 